<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="https://img.icons8.com/color/48/000000/elf.png">
    <title>XMAS COMPANY</title>
</head>
<body>
    <nav> 
        <ul>
            <li><a href="#omoss">OM OSS</a></li>
            <li><a href="#kontakt">KONTAKT</a></li>
        </ul>
    </nav>
    <section id="xmas company">
            <h1>XMAS COMPANY</h1>
            <h2>FÖR EN KUL JUL!</h2>
            <p>Välkommen till vår officiella hemsida.</p>
            <p>Använd länkarna som finns i det övre vänstra hörnet för att navigera på sidan.</p>
            <img src="https://img.icons8.com/color/48/000000/elf.png">
    </section>  
<section id="omoss">
    <h2>OM OSS</h2>
    <p>Vi på XMAS Company strävar efter att ge dig den bästa möjliga julen och har gjort det sedan 2018.</p>
    <p>Våra produkter är allt från julgranar till en julversion av John Denvers "Country Roads". Vi har alltid kundens bästa i åtanke.</p>
</section>
<section id="kontakt">
    <h2>KONTAKT</h2>
    <img src="https://img.icons8.com/color/48/000000/gingerbread-house.png">
    <p>Du kan kontakta oss via följande uppgifter:</p>
    <p>Mail: thexmascompany@gmail.com</p>
    <p>Telefon: 070-202-2020</p>
    <p>Adress: Nordpolengatan 1, 1924A, Grönland</p>
</section>
</body>
</html>